.main-right-content .song-form {
    padding: 30px;
    box-sizing: border-box;
    background-color: #ccc;

}
.main-right-content form {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.main-right-content form {

}

.main-right-content form .form-left {
    /*border: 1px solid red;*/
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    flex-direction: column;
    /*padding: 20px;*/
    height: 100%;
    /*box-sizing: border-box;*/
    /*padding-left: 20px;*/
}

.main-right-content form .form-left .row {
}

.main-right-content form .form-right {
    /*border: 1px solid red;*/
    height: 100%;
    flex-grow: 1;
    vertical-align: center;
    margin-left: 30px;
}

.main-right-content form .form-right label {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    /*border: 1px solid red;*/
}

.main-right-content form .form-right textarea {
    /*width: 260px;*/
    height: 320px;
    border: none;
    border-radius: 4px;
    outline: none;
    flex-grow: 1;

}

.main-right-content form .form-right div {
    margin-bottom: 10px;
}

.main-right-content form .row:nth-child(1) {
    margin-top: 20px;

}

.main-right-content form .row {
    margin-bottom: 30px;
}

.main-right-content form input {
    border-radius: 4px;
    border: none;
    width: 200px;
    height: 40px;
    outline: none;
}

.main-right-content .song-form button {
    border-radius: 4px;
    border: none;
    width: 200px;
    height: 40px;
    margin-left: 3em;
    color: #E30000;
    border: 1px solid #E30000;
    outline: none;
    font-size: 16px;
    background-color: white;
}